[DEFAULTS]
LAT=
LON=
API_KEY=
UNITS=
FORMAT=%%{F#FF0000}%%{T3}ICON %%{T-}%%{F-}TEMP_FEELS_LIKE°C

[LOCATION]
provider=Manual

[ICONS]
# clear sky
01d=
01n=
# few clouds
02d=
02n=
# scattered
03d=󰖐
03n=󰖐
# broken
04d=
04n=
# shower
09d=
09n=
# rain
10d=
10n=
# thunderstorm
11d=
11n=
# snow
13n=
13d=
# mist
50d=
50n=

[MOON]
fq=󰽡
lq=󰽣
nm=
fm=
